<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
    <h1>Lista de Productos</h1>
    <div id="products-container">
        {{#each products}}
        <div class="card">
            <h2>{{this.Titulo}}</h2>
            <p><strong>Descripción:</strong> {{this.description}}</p>
            <p><strong>Código:</strong> {{this.code}}</p>
            <p><strong>Precio:</strong> ${{this.price}}</p>
            <p><strong>Stock:</strong> {{this.stock}}</p>
            <p><strong>Categoría:</strong> {{this.category}}</p>
        </div>
        {{/each}}
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts.js"></script> 
</html>